.submit {
	margin-left: 9px;
	-webkit-transition-duration: 0.4s; /* Safari */
 	transition-duration: 0.4s;
 	border-radius: 8px;
}

.submit:hover {
	background-color: #4CAF50;
	color: white;
}

.Name {
	margin-left: 7px;
}

.label {
	margin-left: 5px;
}