/*table, th, td {
	border: 1px solid black;
}*/

table {
	width: 30%;
	border-collapse: collapse;
}

th {
	height: 50px;
	background-color: #4CAF50;
	color: white;
}

.rowId {
	width: 10%;
}

.modify {
	width: 90%;
}

th, td {
	padding: 7px;
	text-align: center; 
}

tr:hover {background-color: #f5f5f5;}

tr:nth-child(even) {background-color: #f2f2f2;}

.change {
	margin-left: 5px;
	-webkit-transition-duration: 0.4s; /* Safari */
 	transition-duration: 0.4s;
 	border-radius: 8px;
}

.change:hover {
	background-color: #4CAF50;
	color: white;
}

.delete {
	background-color: white; 
 	color: black; 
 	border: 2px solid #f44336;
 	border-radius: 8px;
}

.delete:hover {
	background-color: #f44336;
 	color: white;
}